body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
header{
  width:100%;
  border-top: 5px solid #F5C85F;
  margin: 0;
}
.container-header{
  margin-top: 5%;
}
.container-logo{
  width:50%;
  float: right;
  text-align: left;
}
.container-logo img{
  margin-top: 20%;
}
.container-phone{
  text-align: right;
  width:46%;
  float: left;
  border-style: solid;
  border-width: 3px;
  -webkit-border-image: -webkit-linear-gradient(
      left,
      #fff 1%,
      #F5C85F 50%,
      #fff 100%
  ) 0 100% 0 0/0 5px 0 0 stretch;
  -moz-border-image: -moz-linear-gradient(
      left,
      #fff 1%,
      #F5C85F 50%,
      #fff 100%
  ) 0 100% 0 0/0 5px 0 0 stretch;
  -o-border-image: -o-linear-gradient(
      bottom,
      #fff 1%,
      #F5C85F 50%,
      #fff 100%
  ) 0 100% 0 0/0 5px 0 0 stretch;
  border-image: linear-gradient(
      to bottom,
      #fff 1%,
      #F5C85F 50%,
      #fff 100%
  ) 0 100% 0 0/0 5px 0 0 stretch;
}
.container-phone img{
  margin-right: 4%;
}

.container-features{
  margin-top: 34%;
  clear:both;
  border: 15px solid transparent;
  border-image-source: url(../img/triangle.png);
  border-image-repeat: repeat;
  border-image-slice: 30 0;
  border-bottom:0;
  border-left:0;
  border-right:0;

}
.container-info-features{
  background-color:#EEE;
  color:#999;
  display: table;
  width:100%
}
.container-info-features h4{
  color: #111;
}

.containter-row-feature{
  display: table-row;
}

.container-feature{
  display: table-cell;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}


@media only screen and (max-width: 768px) {
    .container-phone {
        display:none;
    }

    .container-logo{
      width:100%;
      float: none;
      text-align: center;
    }

    .container-info-features, .containter-row-feature{
        display: block;
    }
    .container-feature {
        display:inline-block;
        width: 100%;
    }
}
